<!-- src/app/app.component.html -->
<mat-toolbar color="primary" class="topbar">
  <span class="title">{{ title }}</span>
</mat-toolbar>

<div class="container">
  <div class="left-card">
    <form [formGroup]="form" class="form-modern">
      <div class="form-header">
        <button
          mat-stroked-button
          color="primary"
          class="download-btn"
          (click)="downloadTemplate()"
          [disabled]="processing"
        >
          <mat-icon>download</mat-icon> Download Template
        </button>
      </div>

      <div class="form-row">
        <mat-form-field class="full">
          <mat-label>Mode </mat-label>
          <mat-select
            formControlName="mode"
            (selectionChange)="onMode()"
            [disabled]="processing"
          >
            <mat-option *ngFor="let m of modeOptions" [value]="m.value">{{
              m.label
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-row inline">
        <div class="checkbox-excel">
          <mat-checkbox
            color="primary"
            formControlName="useExcel"
            (change)="onCheckUseExcel($event)"
            [disabled]="processing"
          >
            <span class="checkbox-title">Use Excel</span>
          </mat-checkbox>
          <span class="checkbox-label" [class.active]="form.value.useExcel"
            >Yes</span
          >
          <span class="checkbox-label" [class.active]="!form.value.useExcel"
            >No</span
          >
        </div>
        <div class="upload-box" *ngIf="shouldShowUpload()">
          <button
            mat-flat-button
            color="primary"
            class="upload-btn"
            (click)="fileInput.click()"
            [disabled]="processing"
          >
            <mat-icon>upload</mat-icon> Upload
          </button>
          <input
            #fileInput
            type="file"
            accept=".xlsx"
            hidden
            (change)="onFileSelected($event)"
            [disabled]="processing"
          />
          <div class="filename" [ngClass]="{ error: uploadStatus === 'error' }">
            <mat-icon *ngIf="uploadStatus === 'success'" color="primary"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="uploadStatus === 'error'" color="warn"
              >error</mat-icon
            >
            {{ uploadedFileName ? uploadedFileName : "(no file)" }}
          </div>
        </div>
      </div>

      <div class="form-row">
        <mat-form-field class="full" appearance="fill">
          <mat-label>Schema Source</mat-label>
          <mat-chip-grid
            #chipList
            aria-label="Schema selection"
            [required]="!form.value.useExcel"
            [disabled]="form.value.useExcel || processing"
          >
            <mat-chip
              *ngFor="let schema of selectedSchemas"
              [removable]="true"
              (removed)="removeSchema(schema)"
            >
              {{ schema }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Pilih schema..."
              [matAutocomplete]="sch"
              [formControl]="schemaCtrl"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="addSchema($event)"
              (keydown.enter)="$event.preventDefault()"
            />
          </mat-chip-grid>
          <mat-autocomplete
            #sch="matAutocomplete"
            (optionSelected)="selectSchema($event)"
          >
            <mat-option *ngFor="let option of filteredSchema" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <!-- <mat-form-field appearance="fill" class="full">
          <mat-label>Schema Source</mat-label>
          <input
            type="text"
            matInput
            formControlName="schema"
            [matAutocomplete]="sch"
            (focus)="autoCompleteSch()"
            (blur)="focusOutBSchema()"
            (input)="autoCompleteSch()"
          />
          <mat-autocomplete #sch="matAutocomplete" [displayWith]="displayFn">
            <mat-option
              *ngFor="let option of filteredSchema"
              [value]="option"
              >{{ option }}</mat-option
            >
          </mat-autocomplete>
        </mat-form-field> -->

        <!-- <mat-form-field appearance="fill" class="full schema-field">
          <mat-label>Schema Source</mat-label>
          <mat-select formControlName="schema" multiple>
            <mat-option *ngFor="let s of schemaOptions" [value]="s">{{
              s
            }}</mat-option>
          </mat-select>
        </mat-form-field> -->
      </div>

      <div class="form-row">
        <mat-form-field appearance="fill" class="full">
          <mat-label>Env Source</mat-label>
          <mat-select
            formControlName="envSource"
            [disabled]="processing"
            (selectionChange)="onEnv('SOURCE')"
          >
            <mat-option *ngFor="let e of envOptions" [value]="e">{{
              e
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="fill" class="full">
          <mat-label>Env Target</mat-label>
          <mat-select
            formControlName="envTarget"
            [disabled]="processing"
            (selectionChange)="onEnv('TARGET')"
          >
            <mat-option *ngFor="let e of envOptions" [value]="e">{{
              e
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      @if(form.value.mode === 'COMPARE' && form.value.useExcel) {
      <div class="form-row">
        <mat-label>Output Mode</mat-label>
        <mat-radio-group formControlName="outputMode" [disabled]="processing">
          <mat-radio-button
            value="FULL"
            title="Before Deployment"
            style="margin-left: 30px"
            >Full Scan</mat-radio-button
          >
          <mat-radio-button
            value="EXCEL"
            title="After Deployment"
            style="margin-left: 20px"
            >Excel Only</mat-radio-button
          >
        </mat-radio-group>
      </div>
      }

      <div class="divider"></div>

      <div class="form-row process-row">
        <button
          mat-stroked-button
          color="primary"
          class="process-btn-bottom"
          (click)="onProcess()"
          [disabled]="processing"
        >
          <span class="process-btn-content">
            <ng-container *ngIf="!processing; else loadingTpl">
              <mat-icon>play_arrow</mat-icon>
              <span class="process-label">Process</span>
            </ng-container>
            <ng-template #loadingTpl>
              <mat-progress-spinner
                diameter="30"
                mode="indeterminate"
                color="primary"
                class="spinner"
              ></mat-progress-spinner>
              <span class="process-label">Processing...</span>
            </ng-template>
          </span>
        </button>
      </div>
    </form>
  </div>

  <div class="right">
    <div class="logger-header">Logger</div>
    <div class="logger">
      <pre class="log" *ngFor="let line of log$ | async">{{ line }}</pre>
    </div>
  </div>
</div>
